
        @import "./src/styles/setup";
        .header {
                background-color: transparent;
                padding-top: 65px;
                .logo{
                     &-img{
                        width: rem(103px);
                        height: rem(40px);     
                     }   
                }
        }