
        @import "./src/styles/setup";
        .header {
                background-color: transparent;
                padding-top: 65px;
                .logo{
                     &-img{
                        width: rem(103px);
                        height: rem(40px);     
                     }   
                }
                @include respond(mobile){
                          padding-top: 186px;
                          margin-bottom: 20px;
                        display: flex;
                        @include flex-center;
                }
        }