/*@font-face {
  font-family: gotham-medium;
  src: url(../../assets/fonts/Gotham/gotham-medium.ttf);
}

@font-face {
  font-family: circular-medium;
  src: url(../../assets/fonts/Circular/CircularStd-Medium.ttf);
}

@font-face {
  font-family: circular-book;
  src: url(../../assets/fonts/Circular/CircularStd-Book.ttf);
}

@font-face {
  font-family: circular-bold;
  src: url(../../assets/fonts/Circular/CircularStd-Bold.ttf);
}
@font-face {
  font-family: rubik;
  src: url(../../assets/fonts/Rubik/Rubik-Light.ttf);
}*/
