// LAYOUT BREAKPOINTS
$break-max-mobile: 380px;
$break-mobile: 400px;
$break-mobile-min: 450px;
$break-max-narrow: 550px;
$break-narrow: 750px;
$break-mid-normal: 850px;
$break-normal: 950px;
$break-max-normal: 1050px;
$break-wide: 1300px;
//COLORS:
$color-black:#000000;
$color-white:#ffffff;

