@import "./src/styles/setup";

.footer {
        color: $color-white;
        background-color: $color-black-bgc;
        padding: rem(78px) 0;

        p {
                font-size: rem(14px);
                line-height: 2;
                letter-spacing: 2px;
        }

        .logo {
                width: 103.4px;
                height: 40px;
                margin-right: 190px;
        }

        &-content {

                margin-right: auto;

                p {}
        }

        &-contact-us {
                p {}
        }
}