@import "./src/styles/setup";

.footer {
        color: $color-white;
        background-color: $color-black-bgc;
        padding: rem(78px) 0;
      .footer-container{
        @include respond(mobile){
                flex-direction: column;
                text-align: center;
                @include flex-center;
        }
      }
        p {
                font-size: rem(14px);
                line-height: 2;
                letter-spacing: 2px;
                @include respond(mobile){
                        margin-bottom: 5px;
                }
        }

        .logo {
                width: 103.4px;
                height: 40px;
                margin-right: 190px;
                @include respond(mobile){
                        margin-right: 0px;
                        margin-bottom: 50px;
                }
        }

        &-content {

                margin-right: auto;
                @include respond(mobile){
                        margin-right: 0px;
                        margin-bottom: 10px;
                }
                p {}
        }

        &-contact-us {
                p {}
        }
}